$bg: #0f0f0f;
$dgrey: #1c1d1e;
$grey: #3d3d3d;
$orange: #ff7a00;
$text: #ffffff;

%mont-700{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

%mont-500{
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
}

%mont-400{
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
}