@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

html,
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}

.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contact-link{
        display: flex;  
        flex-direction: column;
        color: $text;
        @extend %mont-500;
        font-size: 16px;
        span{
            color: $orange;
            @extend %mont-500;
            font-size: 16px;
        }
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 30px;
    }
    &__list-link{
        color: $text;
        @extend %mont-500;
        font-size: 16px;
    }
}
.logo{
    &__img{
    width: 89px;
    height: 59px;
    object-fit: contain;
    }
}

@import 'media';